# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# env
.env
.env*.local

# vercel
.vercel

# typescript / build
*.tsbuildinfo
build-temp.log

# logs
npm-debug.log*
yarn-debug.log*
